html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*end reset*/
.app {
    margin: 50px;
    font: 14px sans-serif;

    h3 {
        font-size: 22px;
        margin: 10px 0 0;
    }
    .none {
        display: none;
    }
    .authWrapper {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 340px;
        max-height: 200px;
        a{
            color: white;
            text-decoration: none;
            display: block;
        }
    }
    .okButton {
        padding-left: 288px;
    }
    .userWrapper {
        position: fixed;
        right: 5%;
        top: 10px;
    }
    .userName, .userAge, .userAboutMe, .logOutButton, .showMoreButton, .showLessButton {
        padding-left: 10px;
    }
    .instructionMessage {
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .signInForm, .signUpForm {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 340px;
        max-height: 200px;
        label{
            margin-right: 10px;
        }
    }
    .signInData, .passDataIn, .signUpData, .passDataUp, .userAboutMeData, .userNameData, .userAgeData, .userAvatarData {
        display: inline-block;
    }
    .signInData, .signUpData {
        width: 272px;
    }
    .passDataIn, .passDataUp {
        width: 245px;
    }
    .userAgeData {
        width: 287px;
    }
    .userAboutMeData {
        width: 252px;
    }
    .userNameData {
        width: 274px;
    }
    .signInBlock, .passBlock, .signUpBlock, .nameBlock, .ageBlock, .aboutMeBlock, .avatarBlock {
        display: inline;
        .glyphicon{
            margin-right: 35px;
        }
    }
    .messageUserName {
        padding-right: 10px;
    }
    .userMessageWrapper {
        padding-bottom: 10px;
    }
    .messageText{
        width: 300px;
    }
}